<h1>Editing machinery</h1>

<%= render "form", machinery: @machinery %>

<br>

<div>
  <%= link_to "Show this machinery", @machinery %> |
  <%= link_to "Back to machineries", machineries_path %>
</div>
