<p style="color: green"><%= notice %></p>

<h1>Obras</h1>

<div id="projects">
  <table class="table">
  <% @projects.each do |project| %>
    <th><%= render project %></th>
    <th><%= link_to "Ver", project %></th>
  <% end %>
  </table>
  <th><%= link_to "Nueva Obra", new_project_path, class: 'btn btn-primary' %></th>
</div>

