<div id="<%= dom_id buy_article %>">
  <p>
    <strong>Buy:</strong>
    <%= buy_article.buy_id %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= buy_article.article_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= buy_article.quantity %>
  </p>

</div>
