<h1>Editing buy article</h1>

<%= render "form", buy_article: @buy_article %>

<br>

<div>
  <%= link_to "Show this buy article", @buy_article %> |
  <%= link_to "Back to buy articles", buy_articles_path %>
</div>
