<header class="navbar sticky-top bg-primary bg-opacity-90 flex-md-nowrap p-0 shadow pb-1">
  <div>
  <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" style="box-shadow: none">
    <i class="bi bi-list text-white" aria-hidden="true"></i>
  </button>
    <%= link_to root_path do %>
  <%= image_tag "logo.png", width: "150px", class: "m-2 bg-white bg-opacity-50 rounded"%>
      <%end %>
  </div>

  <div class="dropdown">
    <button class="btn bg-white text-primary dropdown-toggle ml-auto text-right ms-auto mb-lg-0 m-1 justify-content-end d-inline" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= current_user.name %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <div class="dropdown-divider"></div>
        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
          <i class="ni ni-user-run"></i>
          <span>Cerrar Sesión</span>
        <% end %>
      </li>

    </ul>
  </div>

</header>