<header class="navbar sticky-top bg-primary flex-md-nowrap p-0 shadow pb-1">
  <button class="navbar-toggler d-sm-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" style="box-shadow: none">
    <i class="fa fa-bars text-white" aria-hidden="true"></i>
  </button>
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-md-3 text-white" href="/">IIM</a>

  <div class="dropdown">
    <button class="btn bg-white text-primary dropdown-toggle ml-auto text-right ms-auto mb-lg-0 m-1 justify-content-end" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= t 'Bienvenido' %>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <div class="dropdown-divider"></div>
        <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
          <i class="ni ni-user-run"></i>
          <span>Cerrar Sesión</span>
        <% end %>
      </li>

    </ul>
  </div>

</header>